@import "tailwindcss";

@theme {
    --font-archivo: "Archivo", sans-serif;
    --font-istockWeb: "Istok Web", sans-serif;
    --font-ubuntuSans: "Ubuntu Sans", sans-serif;
    --font-redHatDisplay: "Red Hat Display", sans-serif;
    --font-lunasima: "Lunasima", sans-serif;
    --font-leagueSpartan: "League Spartan", sans-serif;
    --font-baiJamjuree: "Bai Jamjuree", sans-serif;
    --color-primary-black: #010101;
    --color-primary-white: #f0f0f0;
    --color-secondary-lime-green: #cae945;
    --color-Soft-Black: rgba(0, 0, 0, 0.25);
    --inset-shadow-navbar: 0px 6px 8px rgba(0, 0, 0, 0.1);
}

.link-hover {
    @apply relative after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-full after:h-[1px] after:bg-black after:scale-x-0 after:origin-left after:transition-transform after:duration-300 hover:after:scale-x-100;
  }
.navbar-hover {
    @apply relative after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-full after:h-[2px] after:bg-primary-white after:scale-x-0 after:origin-left after:transition-transform after:duration-300 hover:after:scale-x-100;
  }