@import "tailwindcss";

@theme {
    --font-archivo: "Archivo", sans-serif;
    --font-istockWeb: "Istok Web", sans-serif;
    --font-ubuntuSans: "Ubuntu Sans", sans-serif;
    --color-component-black: #010101;
    --color-component-white: #f0f0f0;
    --color-text-custom-black: #010101;
    --color-text-custom-white: #f0f0f0;
}